
footer.footer.footer-simple
  section.main-consult
    .box.flex-column
      span.main-consult-text Ви знаходитеся на сторінці професіоналів, які займаються вирощуванням вузьколистої лаванди. У нашому інтернет-магазині Ви можете дізнатися всі деталі вирощування лаванди.
      span.main-consult-text У розділі “продукція” можете знайти та замовити саджанці лаванди, лавандову олію, лавандові букети та багато інших дарів лавандової планети.
      span.main-consult-title ВАМ ПОТРІБНА КОНСУЛЬТАЦІЯ?
      span.main-consult-subtitle Напишіть нам у месенджери:
      .d-flex.ai-center.justify-center.main-consult-social
        a(href="")
          img(src="img/whatsapp.png" alt="")
        a(href="")
          img(src="img/facebook.png" alt="")
        a(href="")
          img(src="img/instagram.png" alt="")
      span.main-consult-phone або зателефонуйте за номером 
        span.main-consult-number +38 (098) 220-72-70
  .box
    .footer-info.d-flex.flex-column.footer-item
      a(href="/" class="footer-logo")
        img(src="img/footer-logo.png" alt="")
      span.footer-info-about Лавандова Мануфактура – вирощуємо 100% єкологічно чиcтий продукт.
      span.footer-info-copyright Усі права захищені © <br><br>  2019-2021 Лавандова Мануфактура
    .footer-links.d-flex.flex-column.footer-item
      ul.d-flex.flex-column.footer-list 
        li
          a(href="" class="d-flex ai-center")
            span Саженцы лаванды
        li
          a(href="" class="d-flex ai-center")
            span Все про лаванду
        li
          a(href="" class="d-flex ai-center")
            span Наша продукция
        li
          a(href="" class="d-flex ai-center")
            span Фотосессии
        li
          a(href="" class="d-flex ai-center")
            span О Компании
        li
          a(href="" class="d-flex ai-center")
            svg(x="0px" y="0px" viewBox="0 0 376 376" style="enable-background:new 0 0 376 376;" xml:space="preserve")
              g
                g
                  path(d="M336,44V12H32v32L0,156v18.336c0,16.68,9.896,31.544,24,38.968C24,262.696,24,364,24,364h64V236h64v128h192V216.56 c18.224-5.384,32-22.536,32-42.224V156L336,44z M44,202.336c-13.184,0-28-10.576-28-30.336h56C72,191.728,57.2,202.336,44,202.336 z M272,44l16,112c-31.384,0-32.968,0-56,0l-8-112H272z M288,172c0,19.6-14.688,30.336-28,30.336c-13.608,0-28-10.984-28-30.336 H288z M116,202.336c-13.184,0-28-10.576-28-30.336h56C144,191.728,129.2,202.336,116,202.336z M144,156c-22.256,0-25.392,0-56,0 l16-112h48L144,156z M160,172h56c0,19.728-14.8,30.336-28,30.336C174.816,202.336,160,191.76,160,172z M312,332H184v-96h128V332z  M332,202.336c-13.608,0-28-10.984-28-30.336h56C360,191.6,345.312,202.336,332,202.336z")
            span Магазин
        li
          a(href="" class="d-flex ai-center")
            span Контакти
    .footer-products.d-flex.flex-column.footer-item
      ul.d-flex.flex-column.footer-list 
        li
          a(href="" class="d-flex ai-center")
            span  Букети
        li
          a(href="" class="d-flex ai-center")
            span Добрива
        li
          a(href="" class="d-flex ai-center")
            span Мед
        li
          a(href="" class="d-flex ai-center")
            span Набори
        li
          a(href="" class="d-flex ai-center")
            span Олія
        li
          a(href="" class="d-flex ai-center")
            span Саджанці
        li
          a(href="" class="d-flex ai-center")
            span Саше
        li
          a(href="" class="d-flex ai-center")
            span Свічки
    .footer-contacts.d-flex.flex-column.footer-item
      span.footer-contacts-adress Україна, Полтавська область, м. Полтава, м-р Рибці,  вул. Володимира Степанюка 54.
      a(href="tel:123" class="d-flex ai-center")
        img(src="img/phone.png" alt="")
        span 098 220-72-70
      a(href="mailto:info@lavander.top" class="d-flex ai-center")
        img(src="img/email.png" alt="")
        span info@lavander.top
      span.footer-contacts-social Ми у соц мережах:
      .footer-social-list.d-flex.ai-center
        a(href="/" class="header-contacts-social")
          img(src="img/whatsapp.png" alt="")
        a(href="/" class="header-contacts-social")
          img(src="img/facebook.png" alt="")
        a(href="/" class="header-contacts-social")
          img(src="img/instagram.png" alt="")