doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href="assets/img/favicon.ico", rel="shortcut icon")
		link(type="text/css", href="css/libs.min.css", rel="stylesheet")
		link(type="text/css", href="css/jquery-ui.min.css", rel="stylesheet")
		link(rel="preconnect", href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet")
		link(href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css", rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css")
		link(type="text/css", href="css/main.css", rel="stylesheet")
		title
	body
		#contentWrapper.content-wrapper
			#pageWrapper.page-wrapper
				include _header
				block content
			#footerWrapper.footer-wrapper
				include _footer-simple

		script(src="js/libs.min.js")
		script(src="js/jquery-ui.min.js")
		script(scr="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
		script(src="js/common.js")