extends blocks/_layout-simple
append content
  main.main.about-company
    .simple-page-banner.search
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Про компанію
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Про компанію
    section.text-section
      .box.flex-column
        h3.text-section-title.text-center Лавандова Мануфактура
        .about-company-first
          img(src="img/footer-logo.png", alt="")
          p Ми, фермерське господарство сімейного типу 
            b «Лавандова Мануфактура», 
            | з 2019 року займаємося активним вирощуванням лаванди 
            | ангустифолія. Територіально знаходимося в центральній Україні - м. Полтава. 
          span Два сезони відправлень посадкового матеріалу лаванди:
          ul
            li Весняний 
            li Осінній.
          br
          p Весняний етап розпочинається під кінець березня, коли зимові морози вже покинули нашу місцевість і температура повітря стабільно 
            | тримається на позначці 10С вище нуля, продовжується етап відправлень до кінця квітня. Для того щоб забежпечити людей якісним 
            | посадковим матеріалом лаванди, ми на власному досвіді практикували свої навички вирощування лаванди та доводимо до ідеалу всі 
            | механізми праці. Садити лаванду в кінці травня, коли вже досить жарко, критично ризиково, та все ж таки бажано дивитися по погоді у вашому регіоні.
          p Осіння відправка розпочинається з кінця вересня місяця і триває до серидини листопада. 
          p Особливу увагу ми приділяємо транспортуванню саджанців. День в день ми копаємо, щільно запаковуємо корені у пакет, щоб 
            | було мінімальне потрапляння повітря. У такій надійній упаковці рослини можуть транспортуватись до 7 днів. 
          p Швидка відправка саджанців здійснюється транспортно – логістичною компанією Нова Пошта, термін пересилки по всій Україні від 1 
            | до 3 днів. Відправка з міста Полтава, також якщо ви з найближчих міст Києва, Харкова, Дніпра, Кропивницького, Сум, Кременчука та 
            | інших, ви можете забрати замовлення самовивозом.
          p Після отримання корчів на пошті, бажано ознайомитися з інструкцією відносно посадки рослини (яку ми прикладаємо до посилки) та 
            | замочити на 2 години коріння у воду з укорінювачем. 
          p Важливо памятати, що це живі рослини, вони потребують догляду та любові. Лаванда вузьколиста має велику перспективу для вирощування на 
            | территорії Україні. За два роки наше фермерське господарство виростило більше 300 тисяч кущів, котрі були посаджені як у присадибних ділянках 
            | так і у великих парках, такий як Добро Парк.
          br
          br
        .about-company-info.d-flex.ai-center
          .about-company-delivery.d-flex.flex-column
            h3.text-section-title.d-flex.ai-center
              img(src="img/pay.png", alt="" class="about-company-icon")
              span Доставка
            img(src="img/np-big.png", alt="" style="max-width: 316px;")
            p В будь-яке місто України <br>
              | Відправлення здійснюється після повної оплати замовлення, включаючи вартість пересилання. Вартість пересилання залежить від ваги 
              | посилки, від країни до якої їде посилка і від способу доставки
          .about-conpany-pay.d-flex.flex-column
            h3.text-section-title.d-flex.ai-center
              img(src="img/pay.png", alt="" class="about-company-icon")
              span Оплата
            ul
              li Інтернет-платіж безпосередньо на сайті підключено платіжну систему WayForPay
              li Передплата на картку Приват Банк, Моно Банк  ( номер картки буде надіслано після уточнення замовлення)
              li Оплата на розрахунковий рахунок для юридичних осіб
              li Після оплата у відділенні Нової Пошти при отримані товару можлива тільки частков, 50% авансу а решту при отримані
              li Оплата готівкою при самовивозу

    section.main-advantages
      .box.flex-column
        img(src="img/comment.png" alt="" class="advantages-like m0-auto")
        h3.title  Лавандова Мануфактура Відгуки
        .reviews-slider-box
          .reviews-slider
            img(src="img/slide-1.png" alt="")
            img(src="img/slide-2.png" alt="")
            img(src="img/slide-3.png" alt="")
            img(src="img/slide-2.png" alt="")
            img(src="img/slide-1.png" alt="")
          button(type="button" class="reviews-slider-prev")
            svg(x="0px" y="0px" width="40px" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;" xml:space="preserve")
              g
                g(id="chevron-left")
                  polygon(points="247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153")
          button(type="button" class="reviews-slider-next")
            svg(x="0px" y="0px" width="40px" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;" xml:space="preserve")
              g
                g(id="chevron-right")
                  polygon(points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153")