extends blocks/_layout
append content
  main.main
    .simple-page-banner
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Все про лаванду
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Все про лаванду
    section.about-lavender
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/about-lavender-1.png" alt="")
            span  Посадка лаванди у відкритий грунт
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/about-lavender-2.png" alt="")
            span  Догляд за лавандою
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/about-lavender-3.png" alt="")
            span  Стрижка лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/about-lavender-4.png" alt="")
            span  Розмноження лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/about-lavender-6.png" alt="")
            span  Види лаванди, характеристика та опис
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/about-lavender-7.png" alt="")
            span  Фотосесії в лавандовому полi
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/about-lavender-8.png" alt="")
            span  Суцвіття лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/about-lavender-9.png" alt="")
            span  Доставка и оплата