extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.search
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Букет лаванди
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Продукція з лаванди
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Букет лаванди
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/bouk-1.png" class="img-left")
          br
          br
          br
          h4 Букет лавандовий
          br
          p Лаванда відноситься до тих рідкісних рослин, що увійшли в історію не тільки завдяки своєї ніжної краси, а неповторно свіжому 
            | делікатному аромату і цілющім якостям. Її вирощують для використання у флористиці, ароматерапії, піклування про здоров'я 
            | та красу, і багато іншого. 
            | Вишуканий букет лаванди знову в тренді – це гарна ідея для подарунка в стилі Прованс, щоб зробити приємне 
            | подрузі, призвести вплив на кохану, або пошанувати родичів та близьких. Ароматні лавандові суцвіття, перев’язані 
            | шовковою стрічкою, пасують як букет до ніжного наряду нареченої, або просто гарної сукні. Ці дивні квіти як природна 
            | прикраса підкреслюють риси образу, роблять їх більш привабливими. 
          p Букет лаванди - романтичний елемент в декорі інтер'єру. Свіжі квіти лаванди ідеально підійдуть для прикраси столів, 
            | флористичних композицій. Картки для розсадження будуть чудово виглядати з маленьким фіолетовим букетиком.
            | Здавна люди любили квіти лаванди - в Античній Греції вона вважалася священними квітами, лавандові букети та 
            | вінки використовувалися як ароматична принада в храмах і святинях. У Стародавньому Римі лаванда символізувала більш 
            | високий соціальний статус. Значення і символіка бузково-фіолетових квітів лаванди в Середньовічній Європі була зв’язана з 
            | коханням, висловлювала ніжні почуття. Також була символом з Діви Марії, уособлювала чистоту, шляхетність і доброчесність. 
            | В вікторіанські часи лавандові букети символізували відданість, довіру, витонченість і спокій.
          p Квіти для букетів збирають навесні та до середини літа, вибирають найкращі суцвіття лаванди.
            | «Лавандова Мануфактура» дає змогу купити букет в Україні, найкращі, найсвіжіші та найгарніші, надійно упаковані з гарантованою доставкою.
          br
          br
          br
          img(src="img/bouket-image.png", alt="" class="img-right")
          h4 Як висушити лаванду, зробити лавандовий букет сухоцвіту.
          br
          p
            b Багато вирощують, а як сушити не знають.  Спочатку про міфи:
          ul.bad
            li Лаванду не можна сушити на сонці.  Можна 100%.  Не можна після висихання зберігати на сонці, тримати на підвіконні і т.п.
            li Лаванду краще збирати вранці.  У будь-який час доби нормально, звідки такі заяви?  Збирайте хоч вночі!  А ви думаєте коли на 
              | "безгоспних" полях в Криму "збирають"
          br
          p 
            b Отже:
          ul.good 
            li Для сушки лаванди підійде будь-який сухе приміщення
            li В приміщенні повинна бути обов'язково хороша вентиляція.  Якщо вітер гуляє на всю, а щілини в стінах такі, що лелека пролетить, саме те!
            li Пучкі лаванди повинні бути невеликих розмірів, не більше 100-150 гілочок.
            li Букети підвішені квітами вниз
            li После висихання букети скласти в ящики або на полиці або куди ви хочете, не перестарайтеся з сушінням, буде обсипатися.
            li Для букетів лаванду збирають на 5-10 день після розпускання першої квітки
            li Лаванду для чаю, кулінарії, збирають у другій декаді цвітіння
            li Лаванду після дощу не рекомендується зрізати, краще почекати 10-12 годин.
            li Висушуючи букети категорично не рекомендується чіпати, вони дуже чутливі до осипання.
        br
        br
        br
    section.products-box 
      .box.justify-center.ai-center.flex-wrap 
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/bouk-2.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Букет сухоцвіту лаванди (100 гілочок)
            span.product-item-tag Букети
            span.product-item-price 150.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/bouk-1.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Великий букет лаванди (240 гілочок)
            span.product-item-tag Букети
            span.product-item-price 270.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/bouk-3.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Декоративна підставка з букетом лаванди
            span.product-item-tag Букети
            span.product-item-price 240.00 грн
            a(href="/" class="lavender-btn") Подробнее

    section.main-contacts
      .box.flex-column
        h4.title Для співпраці, консультації та замовлення напишіть нам:
        form(action="" method="POST" class="contacts-form d-flex flex-wrap" id="contacts-form")
          input(type="text" name="name" placeholder="Ваше ім'я")
          input(type="text" name="email" placeholder="Ваш e-mail")
          input(type="text" name="phone" placeholder="Ваш телефон")
          textarea(name="message" placeholder="Текст")
          button(type="submit" class="lavender-btn m0-auto") Відправити
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини