extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.drop
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Догляд за лавандою
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Все про лаванду
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Догляд за лавандою
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/care-img-1.png" class="img-left")
          br
          br
          br
          h4 Догляд за лавандою
          br
          p Догляд за лавандою включає в себе такі моменти: прополка саджанців від бур’яну, рихління почви навколо куща, вчасно поливати кущі 
            | та реагувати на шкідників, тому бажано ознайомитися з практичними рекомендаціями по догляду за лавандою далі по тексту.
          h5 Полив Лаванди
          br
          p Лаванда - вологолюбива рослина, але поливати її потрібно в міру. Полив проводять, тільки коли грунт підсохне. 
            | Рясне зрошення може привести до загнивання коренів і пожовтіння надземної частини рослини. Засуха теж погано відбивається на 
            | рослині - лаванда не загине, але цвітіння не буде таким розкішним, як хотілося б. Ідеальний режим поливу - у міру висихання ґрунту. 
            | В жаркий час кущі поливають 1-2 рази в тиждень. У міжсезоння полив можна скоротити до одного разу на 14 днів. Волога особливо 
            | потрібна молодим саджанцям, їх потрібно поливати частіше.
          br
          br
          img(src="img/care-img-2.png" alt="" class="img-right")
          h5 Зимівля
          br
          ol
            li Стрижка зовсім небагато.
            li Підгортання землею молодих кущів або тих, які були пересаджені восени. Приблизно 1\5 куща.
            li Укриття гілками хвойних порід за умови, що у вас малосніжна зима, або ділянка продувається вітрами.
            li Лаванда боїться випрівання більше ніж морозів, тому коріння не треба прикривати листям, бо під ним вона може запаритися.
            li Наші сорти лаванди морозостійкі до-25 С.
          br
          br
          br
          br
          br
          br
          br
          br
          br
          img(src="img/care-img-3.png" alt="" class="img-left")
          br
          br
          br
          h5 Добрива для лаванди
          br
          p 
            b Мульча. 
            | Свіжа трава, косимо і розсипаємо під кущі. Висихає швидко, колір гарний, бур'яни ростуть набагато менше, 
            | виривати легше, добре тримається волога, плюс йде збагачення грунту.
          p Як мульчувати кущі лаванди свіжоскошеної травою:
          ul 
            li Траву використовують без кульбаб, квітів і насіння;
            li Мульчувати найкраще в сонячний і вітряний день, щоб трава відразу підсохла;
            li  Мульчувати грунт після видалення бур'янів;
            li 2-3 шару з інтервалом 2-3 години краще, ніж відразу товстий шар свіжої трави.
          br
          p 
            b Зола. 
            | Просіяну, до стану пудри. Дуже багато корисних речовин, 100 % органіка, допомагає в боротьбі з мурахами. 
            | Рослини, які отримали достатню кількість калію (в золі його багато), краще зимують.
          p 
            b Лаванда та азотне добриво. 
            | Лаванду можно удоброювати азотним добривом таким як карбомід. Але бажано це проводити з початку травня по середину серпня. 
            | Додавати в грунт або у воду, регулярність кожні два тижні.
          p 
            b Укорінювач Хелп Рост. 
            | Переважно використовується при посадці – пересадці кущів, діюча речовина калій, котрий допомагає швидше пройти адаптацію рослини.
          br
          br
          img(src="img/care-img-4.png" alt="" class="img-right")
          h5 Шкідники
          br
          p Шкідників та хвороб у лаванди не так багато, але вони мають місце. Тому важливо приділити особливу увагу цьому пункту. Основні такі як:
          ol
            li  Веселковий жук – цей шкідник об’їдає листя і молоді пагони. Його збирають вручну і знищують.
            li Личинки хруща (хробак) вони можуть з’їсти весь корінь рослини, бажано в землю додавати більше азоту. 
              | В період активної вегетації з кінця квітня по середину серпня.
            li Ведмедки, коли лаванда маленька, вони можуть фізично пошкодити коріння, як риють ходи.
            li Сіра гниль, з'являється після затяжних дощів і після холодної роси. Всі спори цього грибка неможливо знищити, 
              | вони повсюди і проявляються при сприятливих для них умовах. Для самої лаванди вцілому цей грибок не критичний. 
              | Пошкоджене листя обпаде і на його місці відросте нове.	
            li Наші сорти лаванди морозостійкі до-25 С.
          br
          br
          img(src="img/care-img-5.png" alt="" class="img-left")
          br
          br
          h5 Що робити з кущами, у яких посередині сухі гілочки:
          br
          p Навіть при найкращому догляді, деякі кущі втрачають гарний вигляд після зими, збоку, а особливо посередині деякі 
            | гілочки не оживають. Для таких кущів (сухих гілочок не більше 30% від загальної маси) не потрібна кардинальна стрижка, 
            | а тільки видалення сухих гілочок.  Зелені пагони із землі виростуть до рівня решти гілочок не пізніше ніж через місяць. 
          p Отже, прибрати тільки сухі гілки можна:
          ul
            li  якщо 65-70% куща із зеленим листям;
            li якщо біля основи сухих, почали зростання молоді пагони;
            li якщо кущ висотою не більше 20 см, інакше перепад буде дуже помітним і кущ не вийде зробити візуально красивим. 
          br
          h5 Особливості лаванди
          br
          p Лаванда дуже ароматна рослина, але є період, коли запах мінімальний, ніжний, квітковий, ледь чутний.  
            | Початок цвітіння. Коли бутони набрали колір, але перші квіти ще не розпустилися. Зовні такі квіти красиві по-особливому, 
            | але масла в рослині не сформувалися. Важливо зрозуміти цей момент, відчути, інакше головна мета лаванди не розкриється. 
            | Дочекайтеся сонячної погоди після дощу і почекайте два дні, нехай сонце зігріє лаванду і зробить аромат інтенсивним.
          br
          br
          br
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини