extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.drop
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Дропшипинг
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Все про лаванду
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Дропшипинг
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/dropshipping.png" class="img-left")
          br
          br
          br
          h4 Дропшипинг
          br
          p Лавандовий бізнес стає все більш популярним і прибутковим, він приваблює великі агрокомпанії і маленькі фермерські господарства в Україні, 
            | попит на саджанці лаванди для вирощування зростає. І це гарне підґрунтя для того, щоб розгорнути прибуткову справу по системі дропшипінгу 
            | (від англійського drop shipping - пряма поставка) для продажу лаванди на своїх платформах. Тобто реалізується пряма відправка саджанців 
            | з розплідника до знайдених дропшиперами покупців, які мають мету купити лаванду в Україні.
          p Як це працює? Фірма-постачальник  «Лавандова Мануфактура» - велике розвинене господарство, активно представлене на ринку торгівлі лавандою: 
          ul
            li Протягом усього року вирощує якісний посадковий матеріал, 
            li Представляє виразні фотографії товару
            li При надходженні замовлення від дропшипера, бере на себе усі клопотання по відправці товару за адресою і даними покупця, які повідомляє дропшіппер.
            li Надійно пакує і висилає саджанці службами доставки швидко і гарантовано.
            li Пропонує вигідні умови партнерства.
          p Дропшипер-посередник, тобто, той, хто продає на своєї площадці саджанці лаванди, які вирощує «Лавандова Мануфактура», 
            | має вигідні стартові позиції для бізнесу, бо:
          ul 
            li Має можливість зробити швидкий старт с мінімальними витратами - заробити без наявності великого стартового капіталу, складського приміщення, персоналу
            li Націнка на товар встановлюється їм самостійно, різниця між ціною виробника і сумою, що платить покупець, йде дропшиперу
            li Непотрібно самим вирощувати рослини або купувати їх,
            li Не треба вкладати і «заморожувати» гроші в товар та аренду складських приміщень
            li Можна самостійно вести продажі на зручних ресурсах (своїх сайтах, інтернет-магазинах, сторінках в соціальних мережах тощо), 
              | викладаючи лавандові товари зі своєю ціною
            li Участь у веденні операції продажів мінімальна (знайти покупця, прийняти у нього замовлення і передати його у «Лавандову Мануфактуру»)
            li Основна задача реклама, просування і пошук клієнтів, зацікавлених у купівлі та посадці садових культур лаванди 
          p У себе на сайті або сторінці, приймаєте замовлення, дані покупця (ПІБ, адреса, телефон і т.д.), робите замовлення у нас з реквізитами вашого 
            | замовника і оплачуєте саджанці. Після вашого замовлення і оплати, ми пакуємо саджанці і відправляємо посилку вашому замовнику, без наших 
            | реквізитів і реклами.
          p Вигоди такого партнерства очевидні. Ця ніша бізнесу по дропшипінговому продажу посадкового матеріалу «фіолетового золоту» має незлічені перспективи:
          ul 
            li Доки ще майже вільна, бо сьогодні ринок ще набираєте обороти,
            li Має низьку конкуренцію,
            li Приносить високий прибуток.
          br
          p Продаж якісних саджанців лаванди по системі дропшипінгу всього за один сезон може дати непогано заробити. 
            | Саджанці лаванди користуються великим попитом у садівників і дачників, які бажають купити лаванду в Україні.
          br
          br
          br
    section.main-contacts
      .box.flex-column
        h4.title Для співпраці з дропшіппінгу напишіть нам:
        form(action="" method="POST" class="contacts-form d-flex flex-wrap" id="contacts-form")
          input(type="text" name="name" placeholder="Ваше ім'я")
          input(type="text" name="email" placeholder="Ваш e-mail")
          input(type="text" name="phone" placeholder="Ваш телефон")
          textarea(name="message" placeholder="Текст")
          button(type="submit" class="lavender-btn m0-auto") Відправити
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини