extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.hydrolat
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Франшиза Лавандового Поля
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Продукція з лаванди
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Франшиза Лавандового Поля
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/fransise-1.png" class="img-left")
          br
          br
          br
          h4 Франшиза Лавандового Поля
          br
          p Як казав один мудрець: «Якщо ти будеш в гармонії з природою ти ніколи не станеш бідним, а якщо будеш проти природи, то ніколи не станеш багатим». 
            | Це добре доказую бізнес на вирощуванні багаторічної лаванди, з якої роблять натуральну ефірну олію, косметичні засоби, СПА-продукцію, 
            | лавандовий мед,  сухі букети та саше і не тільки. Бізнес для тих, хто любить природу і фінансову стабільність. Вирощування лаванди є 
            | підґрунтям для створення стабільного, високорентабельного доходу на 20 і більше років.
            br
            | Але ж багатьох новачків у агросекторі підстерігають несподівані проблеми: де брати якісний матеріал для посадок, щоб саджанці лаванди були 
            | міцні і здорові, які дієві поради щодо догляду за рослинами, як поливати, боротися з шкідниками, як оптимально зібрати і перероблювати... 
            | Безліч питань відштовхують і лякають.
            br
            | Гарно, коли хтось вже має відповіді і знає як!
          p Тому ідея франшизи є рятівним кругом для початківців у бізнесу по вирощуванню лаванди. Добре, коли є професіонали з великим практичним досвідом, 
            | ті хто вже сам наступив на усі граблі та зробив дієвій план і робочу схему доходного лавандового бізнесу.
          br
          br
          br
          img(src="img/fransise-2.png", alt="" class="img-right")
          p «Лавандова Мануфактура» запускає франшизу Лавандового Оазису. Це працююча детальна схема створення лавандового поля під ключ. 
            | Для запуску необхідно тільки бажання, початковий капітал  і ділянка землі в живописному місці, бо добра частина доходу йде 
            | від оренди лавандового поля для фотосесій.
            br
            | Франшиза від «Лавандової Мануфактури» має на увазі створення лавандового поля з нуля, спеціалістами будуть зроблені всі комунікації 
            | для введення бізнесу, реклама та просування в соціальних мережах. Якщо є бажання та кошти професіонали «Лавандової Мануфактури» 
            | допоможуть з реалізацією продукції з лаванди.
          p Тобто, покупка франшизи Лавандового Оазису дає одразу велику фору на старті бізнесу і відчутну перевагу перед конкурентами. 
            | Інвестування грошей саме в франшизу дозволяє мінімізувати ризики і збільшити дохід.
            br
            | Перспективи лавандової франшизи очевидні. Сьогодні в цій сфері поки ще невелика конкуренція, але є великий попит на продукцію з лаванди, 
            | еко-товари у тренді, еко-мислення – сучасна і модна фішка, час на фотосесії на полі квітучої лаванди заброньовано на тижні уперед.
          br
          br
          br
    section.main-contacts
      .box.flex-column
        h4.title З усіх питань франшизи:
        form(action="" method="POST" class="contacts-form d-flex flex-wrap" id="contacts-form")
          input(type="text" name="name" placeholder="Ваше ім'я")
          input(type="text" name="email" placeholder="Ваш e-mail")
          input(type="text" name="phone" placeholder="Ваш телефон")
          textarea(name="message" placeholder="Текст")
          button(type="submit" class="lavender-btn m0-auto") Відправити
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини