extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.hydrolat
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Подарункові набори
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Продукція з лаванди
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Подарункові набори
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/gift-img-1.png" class="img-left")
          br
          br
          br
          h4 Подарункові набори
          br
          p Людство вирощує лаванду понад 2500 років, використовуючи її для лікування, надання свіжості, розслаблення і психологічного благополуччя. 
            | Тому прекрасні натуральні подарунки з лавандою в будь-який час року – вишуканий та корисний спосіб вшанувати близьких та друзів. 
            | Стильні подарунки ручної роботи з лаванди підкреслять ваш тонкий смак, виділять з оточення як особливу людину, що вміє вибирати презенти.
            br
            | «Лавандова Мануфактура» пропонує купити подарункові набори у кращих варіантах, які сподобаються любителям неординарних речей. 
            | Сувенірі з цією ароматною рослиною можуть додати позитивних емоцій на свята членам родини і друзям, а також стати оригінальним 
            | бізнес-презентом: лавандові подарунки з логотипом вашої компанії, корпоративні набори у єдиному стилі оформлення виглядають 
            | презентабельно та стильно, акцентують на сучасних цінностях, небайдужому ставленні до довкілля, екологічному мисленні. Наприклад, 
            | новорічні корпоративні подарунки, які поєднують лаванду і традиційний декор з ялинки або сосни.
          br
          br
          br
          br
          img(src="img/gift-img-2.png", alt="" class="img-right")
          h4 «Лавандова Мануфактура» має запропонувати подарункові позиції з лавандою:
          br
          ul
            li Саше лавандове з натуральним суцвіттям лаванди – якщо розмістити його у шафі, воно надає речам неповторного аромату, збереже речі 
              | і білизну з натуральних тканин від шкідників, таких як міль; покладене біля подушки – збереже добрий сон і заспокоїть.
            li Лавандовий мед – порадує не тільки любителів натуральних солодощів, а й взагалі розкішний варіант подарунків на свята для будь кого.
            li Лавандова ефірна натуральна олія, ні тільки гарно пахне, але ж має безліч корисних та цілющих якостей: її використовують у 
              | аромалампах, для СПА-процедур, розслаблюючого масажу, інгаляцій, лікування безсоння та інших розладів.
            li Тонік, він же лавандовий  Гідролат (квіткова вода з натуральним ароматом) стане чудовим подарунком жінкам на 8 березня  , її цілющі 
              | косметичні якості порадують коханих, родичок, колежанок та подруг. 
            li Ароматні кольорові свічки з натуральної вощини с природним ароматом ефірної олії лаванди.
            li Букети лаванди – вишукана заміна звичайним розам та іншім «офіційним» квітам:  зберігає природний вигляд та ніжний аромат довгий час, це 
              | гарний лавандовий подарунок на свято.
            li Подарунковий тубус Аромат Щастя, що містить великий букет з 100 гілочок сухоцвітів лаванди в стильній рожевій упаковці, флакон з 15 мл 
              | натуральної лавандової олії, два ароматних саше лаванди з побажаннями від медведика Лавандика, ніжний ажурний янгол щастя з дерева. 
              | Сам еко-тубус з березового шпону, в котрий все упаковано, в подальшому слугує підставкою для букету.
          br
          p Лавандові подарунки від «Лавандової Мануфактури» – це неповторно і оригінально. Вишукано та стильно. Корисно і природньо.
          br
          br
          br
    section.products-box 
      .box.justify-center.ai-center.flex-wrap 
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/gift-1.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Декоративна підставка з букетом лаванди
            span.product-item-tag Букети
            span.product-item-price 240.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/gift-2.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Подарунковий набір «Аромат Щастя»
            span.product-item-tag Набори
            span.product-item-price 420.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/gift-3.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Подарунковий набір «Аромат Щастя»
            span.product-item-tag Набори
            span.product-item-price 240.00 грн
            a(href="/" class="lavender-btn") Подробнее
    section.main-contacts
      .box.flex-column
        h4.title Для співпраці, консультації та замовлення напишіть нам:
        form(action="" method="POST" class="contacts-form d-flex flex-wrap" id="contacts-form")
          input(type="text" name="name" placeholder="Ваше ім'я")
          input(type="text" name="email" placeholder="Ваш e-mail")
          input(type="text" name="phone" placeholder="Ваш телефон")
          textarea(name="message" placeholder="Текст")
          button(type="submit" class="lavender-btn m0-auto") Відправити
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини