extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.drop
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Стрижка лаванди
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Все про лаванду
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Стрижка лаванди
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/haircut-1.png" class="img-left")
          h4 Стрижка лаванди. Лаванда обожнює стрижку
          br
          p Хочете мати сильні кущі, які будуть радувати вас рясним цвітом, то ця стаття для вас. Стрижка дорослих і однорічних кущів лаванди – 
            | це просто необхідність. Проводити її треба в три етапи: весна – літо – осінь.
          p Стригти кущі лаванди навесні можна, коли земля прогрілася і температура повітря від 10 С. Із нашого нагляду краще робити 
            | це в першій декаді квітня. Хочемо зауважити, що лаванда пізньо прокидається після зими, тому треба буде зачекати того 
            | моменту коли рослина прокинеться (рослина почне пускати нові паростки). 
          p Весняна обрізка в основному носить санітарний характер: прибирають підмерзлі за зиму пагони, сухі і пошкоджені гілки. 
            | Обрізку лаванди проводять приблизно на 3 см вище дерев’яної частини - прибирають тільки трав'янисті пагони. 
            | Частина з них залишають, тому що тільки від молодих стебел з'являються нові паростки. Радикально проведена процедура 
            | обрізки може привести до того, що рослина загине. 
          p Навесні ви маєте гарну змогу надати лаванді шараподібної форми. Для цього треба прибрати гілочкі котрі виділяються із загальної маси. 
            | Може статись таке, що кущ підмерз взимку, в такій ситуації обріжте всі гілочки, залиште 5 см над землею.
          br
          br
          br
          br
          br
          br
          br
          br
          br
          img(src="img/haircut-2.png" class="img-right")
          p 
            b Літня стрижка. 
            | Після цвітіння. Не потрібно вирізати по кілька гілочок, чекаючи поки інші дозріють. Всі квіти зрізаються за один раз, приблизно на 1/3 куща. 
            | Якщо потрібно, підрізають здерев'янілі частини куща. При стрижці видаляйте всі гілочки.  Велика помилка залишати гілочки з бутонами 
            | і молодим листям з боків.  Якщо стрижка, то повністю, якщо багато нових пагонів і ви хочете їх залишити, не чіпайте кущ взагалі, просто 
            | приберіть відцвілі квіти. Робити стрижку можна : на початку цвітіння, в середині, або коли кущ втратить декоративність, 
            | але не пізніше кінця липня, це самий крайній термін.  Виняток, якщо залишаєте квіти на насіння. Насіння краще збирати з найкрасивіших і 
            | сильних кущів, не чекайте якісного насіння від повторного цвітіння.
          p Якщо зробити стрижку влітку, то ранньої весни, лаванда буде виглядати чарівною кулькою
          p Для повторного цвітіння лаванду краще стригти якомога раніше, не чекаючи повного розпускання квітів.  
            | Цілком можливо, що упустив момент, ви не побачите квітів восени.  
          p Однорічні саджанці як тільки починають цвісти і стріли стали фіолетовими, здійснюємо обрізку на третій день цвітіння до першого листочка. Це дає змогукущу 
            | зберегти енергію розвитку і йти у ріст. Суцвіття дуже багато забирають сили, тому наша рекомендація у перші роки давати змогу 
            | кущам саме розвиватися, квіт  насичений отримаєте на другий рік, а може навіть і цього, ранньої осені. Кущ у перші роки краще 
            | стригти якомога нижче до землі, якщо піднімати відразу на 25 см, то з кожним роком кулька буде ставати вище, а при цвітінні це 
            | загрожує тим, що кущ розвалиться на частини від тяжкості квітів під час дощів.
          p 
            b Осіння стрижка кущів лаванди
            | - це підготовка рослини до зими щоб кущі не розвалились від ваги снігу. Тому стригти бажано кущі після першого заморозка. 
            | Стрижемо не кардинально, в основному формуємо кульку, але видаляємо зовсім небагато, тільки зелені паростки і бутони. 
            | Хочемо зауважити, якщо підстригти кущ дуже рано, для приклада, у вересні, то ви спровокуєте ріст нових пагонів, але вони 
            | не встигнуть одерев’яніти до зими.           
          img(src="img/haircut-3.png" alt="" class="image-desctop")
          img(src="img/haircut-mobile.png" alt="" class="image-mobile")
          br
          img(src="img/haircut-4.png" class="img-left")
          h4 Чим стригти лаванду
          br
          p Найпершим інструментом у більшості людей це ножиці садові та секатор. Пальці можуть боліти, покриватися пухирями після стрижки кущів.  
            | Але якщо у вас не більше 20-30 кущів, то впоратися можна і купувати більш серйозні інструменти немає потреби.
          p У випадку коли більше  30 кущів, ми рекомендуємо вам придбати пилки для кущів та як ще називають, електричні ножиці. 
            | Життя після купівлі інструменту розділиться на ДО і ПІСЛЯ.
          p 
            b Ось декілька пунктів які треба враховувати:
          ul
            li Бажано купувати електричний з акумулятором. Бензиновий Вам не потрібний, бо важкий та дорогий в експлуатації.
            li Дві насадки для маленьких та великих кущів
            li Відразу гляньте чи можливо купити зміню насадку, бо ви можете затупити ножиці або пошкодити.
          p Дані ножиці Кущоріз STIHL HSA 25 або Gardena Accu Cut Li  по своїй потужності ідеально підходять для стрижки квітів та кущів. Але можуть бути проблеми з стрижкою дерев'яної основи. 
          br
          br
          br
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини