extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.hydrolat
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Гідролат лаванди
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Продукція з лаванди
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Гідролат лаванди
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/hydro-1.png" class="img-left")
          br
          br
          br
          h4 Гідролат лаванди
          br
          p Це «квіткова вода» - природний побічний продукт процесу водно-парової дистиляції сертифікованих органічних квітів рослини Lavandula angustifolia 
            | - водний розчин корисних біологічно-активних сполуків лаванди, яка відома своїми розслаблюючими, заспокійливими, освіжаючими та омолоджуючими 
            | властивостями. Квіти цього середземноморського джерела цінних цілющих та ароматичних речовин століттями використовувалися у виробництві 
            | парфумерії, одеколонів, косметики і ліків. Гідролат лаванди має впізнаваний квітковий свіжий і солодкий запах, хоч в порівнянні з ефірною олією, 
            | з збільш чуттєвими медовими нотами.
            br
            | Способи застосування
            br
            | Лікувальне призначення: має активну заспокійливу, спазмолітичну, регенеруючу, протизапальну дію. Рекомендовано для зовнішнього застосування 
            | у комплексному догляді, лікуванні і профілактиці шкіряних подразнень, нервових розладів, стресів, боротьбі з болем різної етіології
          br
          br
          img(src="img/hydro-2.png", alt="" class="img-right")
          h4 Застосування гідролату
          br
          p Є незамінним для догляду за малюками і новонародженими - його додають в ванночки, використовують для очищення ніжної 
          | дитячої шкіри, для угамування свербіжу при дерматитах і висипаннях. Щоб дитина краще засинала допомагає розпилювати 
          | ароматну воду в кімнаті дитини і на одяг батьків.
          ul
            li Добрий щоб промивати подряпини, порізі та рани (у дітей і дорослих).
            li Допомагає при порушенні циркадних (добових) ритмів, нападах гніву, дратівливості, знімає тривалий стрес і 
              | розумову втому - можна додати його до ванні або поприскати постільну білизну для кращого сну. Саме 
              | гідролат підходить для гіперактивних або чутливих до сильних запахів осіб, коли ефірна олія тяжко переноситься.
            li Як компреси ефективний при головних болях, болях спини, шиї, напрузі, стресі, при спазмах і ПМС у жінок.
            li Клізми з лавандової водою допомагають при проблемах зі шлунком і кишкових розладах.
          br
          p Косметичний корисний ефект гідролату лаванди базується на антибактеріальній, протизапальний, тонізуючий, очищаючий та заспокійливій дії 
            | квітів рослин, що вирощують з саджанців лаванди з найкращих питомників, таких як Лавандова Мануфактура.
          h5 
            b Лавандовий гідролат:
          br
          ul
            li Рекомендується для всіх типів шкіри.
            li Надає тонізуючого, омолоджуючого і розгладжуючого ефекту, прекрасно очищає. Після регулярного використання 
              | шкіра оновлюється, о овал обличчя підтягується.
            li Освіжує і зволожує шкіру протягом дня при розпиленні на обличчя (можна поверх макіяжу) - особливо актуально в літню 
              | жару або при сухому від опалювальних приладів або кондиціонерів повітрі.
            li Замінює тонік, наноситься на очищену шкіру обличчя, шиї, декольте і тіла перед нанесенням крему для зволоження і тонізації.
            li Компонент косметичного льоду і масок, гідролат може з успіхом замінити жорстку воду.
            li Зменшується запалення при лікуванні вугрів, екземи,
            li Заспокоює наслідки опіків та укусів комах - сприяє охолодженню, зволоженню і загоєнню. Для більш тривалого впливу - у вигляді компресу.
            li Допомагає доглядати за волоссям, зволожує їх, пом'якшує вплив водопровідної води.
          p Раніше тішити себе лавандовою водою мали можливість тільки привілейовані класи, а нині купити лаванду в Україні 
            | може будь хто: для косметичних та лікувальних цілей, щоб побавити себе її чудовим ароматом для настрою, або посадити 
            | під вікнами ландшафтний «лаванда garden» і почувати себе на сьомому небі.
          br
          br
          br
    section.products-box 
      .box.justify-center.ai-center.flex-wrap 
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/hydrolat-1.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Гідролат Лаванди (100мл)
            span.product-item-tag Гідролат
            span.product-item-price 111.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/hydrolat-2.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Гідролат Лаванди (1л)
            span.product-item-tag Гідролат
            span.product-item-price 150.00 грн
            a(href="/" class="lavender-btn") Подробнее
    section.main-contacts
      .box.flex-column
        h4.title Для співпраці, консультації та замовлення напишіть нам:
        form(action="" method="POST" class="contacts-form d-flex flex-wrap" id="contacts-form")
          input(type="text" name="name" placeholder="Ваше ім'я")
          input(type="text" name="email" placeholder="Ваш e-mail")
          input(type="text" name="phone" placeholder="Ваш телефон")
          textarea(name="message" placeholder="Текст")
          button(type="submit" class="lavender-btn m0-auto") Відправити
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини