extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.drop
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Суцвіття лаванди
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Все про лаванду
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Суцвіття лаванди
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/soc-img-1.png" class="img-left")
          br
          br
          br
          h4 Суцвіття лаванди
          br
          p Доки лаванда квітне, вона прикрашає сад і наповнює усе своїм сильним чарівним ароматом. Але ж декорум ландшафту «лаванда garden» - 
            | ще далеко не все, що дає людству ця чарівна рослина, це так би мовити, верхівка айсбергу. А що ще?
          p Промислове вирощування лаванди має за метою отримання ефірної олії та гідролату лаванди. Також суцвіття висушують і роблять з 
            | них безліч корисних виробів для побуту і домашнього декору, косметики і парфумерії, кулінарії і чаювання, навіть, засахарюють та 
            | прикрашають торти і цукерки.
          br
          h4 Суцвіття лаванди вдома
          br
          p Засоби від молі (репеленти). Лаванда має характерний пряно-терпкий, злегка гіркуватий смак і аромат. Він подобається більшості людей, 
            | але ж його терпіти не можуть наші небажані «сусіди»: комахи-шкідники, міль, комари. Якщо розвісити у шафах мішечки з натуральної тканини, наповнені 
            | сушеними суцвіттями лаванди,  ви забудете про міль, а вовняні речі зігріють вас довгими зимними вечорами ще не один рік.
            br
            | Прикраси та домашній декор з сушених лавандових суцвіть: ароматичні свічки с сушеними суцвіттями та ефірною олією, 
            | сухі букети, кульки та помандери з квітами. Ці інтер’єрі дрібнички по-перше напоять повітря неперевершеним свіжим 
            | ароматом завдяки летучим фіто- сполукам, що виділяються довгий час з квитів. А по друге, продезінфікують його та 
            | зроблять атмосферу затишною, здоровою і свіжою.
          img(src="img/soc-img-2.png", alt="" class="img-right")
          h4 Суцвіття лаванди при головних болях
          br
          p У традиційній середземноморській та болгарській медицині настій квітів лаванди використовується 
            | для заспокоєння головного болю (розтирають масажними рухами навколо скронь). 
            | Також корисно вдихати лавандовий аромат під час сну, для цього подушечки наповнюють висушеними суцвіттями. 
            | Ефект обумовлений цілющою розслаблюючою дією фітосполук.
          br
          h4 Суцвіття лаванди і чаювання
          br
          p Чай з квітами лаванди – це насолода справжніх гурманів – настій має вишуканий свіжій ледь гіркуватий смак та заспокійливу дію. 
            | Він знімає стрес, проясняє розум, допомагає зберегти емоційний баланс і рівновагу. Та це просту дуже смачно.
          br
          h4 Лаванда в кулінарії
          br
          p Ароматична приправа до салатів або тушкованих м’ясних та рибних страв, желе, випічки та солодощів. Як прянощі використовують листя лаванди або 
            | суцвіття з пелюстками. Справжні гурмани натирають сушеними суцвіттями лаванди індика, курку або рибу. Також ароматизують пряні олії, 
            | оцти та «зелені» масла з травами. У старих куховарських книгах при мочіння яблук рекомендують перекладати плоди суцвіттями та листям лаванди. 
            br
            | Солодкі вироби з квітами лаванди. Лаванду здавна застосовували в кондитерській справі. З квіток лаванди робили варення, 
            | джеми, пасти, муси, желе, пастилу, додавали в цукерки, льодяники. В одному з романів Агати Крісті героїня отримала у 
            | подарунок коробку вишуканих цукерок, прикрашених лавандовим кремом та зацукрованими пелюстками. На цьому кондитерському 
            | шедевру базувалася закручена інтрига, зло було наказано, добро перемогло… А зараз ми можемо безтурботно насолоджуватися 
            | смачними лавандовими тортами, тістечками, печивом, капкейками, прикрашеними ароматними карамелізованими або глазурованими квітами. 
          br
          p Лавандова Мануфактура дає можливість купити лаванду в Україні для найрізноманітніших цілей: саджанці лаванди, або висушені 
            | букети, ароматичні наповнені квітами саше, ефірна олія та гідролат лаванди, лавандовий мед тощо. 
          br
          br
          br
    section.products-box 
      .box.justify-center.ai-center.flex-wrap 
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/soc.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Суцвіття лаванди
            span.product-item-tag Суцвіття
            span.product-item-price 240.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/soc.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Суцвіття лаванди
            span.product-item-tag Суцвіття
            span.product-item-price 420.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/soc.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Суцвіття лаванди
            span.product-item-tag Суцвіття
            span.product-item-price 240.00 грн
            a(href="/" class="lavender-btn") Подробнее
    section.main-contacts
      .box.flex-column
        h4.title Для співпраці, консультації та замовлення напишіть нам:
        form(action="" method="POST" class="contacts-form d-flex flex-wrap" id="contacts-form")
          input(type="text" name="name" placeholder="Ваше ім'я")
          input(type="text" name="email" placeholder="Ваш e-mail")
          input(type="text" name="phone" placeholder="Ваш телефон")
          textarea(name="message" placeholder="Текст")
          button(type="submit" class="lavender-btn m0-auto") Відправити
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини