extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.drop
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Посадка лаванда у відкритий грунт
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Все про лаванду
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Посадка лаванда у відкритий грунт
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/landing-img-1.png" class="img-left")
          h4 Посадка лаванда у відкритий грунт
          br
          p Запорука успішного вирощування лаванди - правильний вибір місця для посадки. Найбільше рослині сподобаються відкриті
            | ділянки, добре освітлені сонячними променями (6 годин мінімум в літній час). Кущики приживуться і в тіні, ось тільки рясного
            | і тривалого цвітіння не буде.
          p Коріння рослини чуйно реагують на високий рівень вологи ґрунту. Тому варто утриматися від висаджування лаванди на
            | заболочених ділянках та територіях, де занадто високо лежать ґрунтові води. Ґрунт повинен бути легким, добре дренованим,
            | щоб не було застою води, якщо важкий - додаємо піску, якщо ж навпаки один пісок, то частіше потрібно поливати.
            | Також не рекомендовано саджати в глиняний ґрунт.
          p Посадка лаванди в Україні здійснюється у два сезони. Перший сезон - весняний, період кінець березня до кінця квітня.
            | Другий сезон посадки - осінній кінець вересня до середини листопада. Необхідно звертати увагу на погодні умови регіону,
            | адже в Одесі в кінці березня може бути вже досить тепло, а ось в Києві або Чернівцях в цей же місяці досить таки прохолодно.
          p Перед посадкою землю перекопують і прибирають коріння рослин. Саджанець поміщають в підготовлену ямку, розправляють коріння
            | і присипають землею так, щоб коренева шийка була заглиблена на 4-6 см. Рослину після посадки рясно поливають.
            | Лавандова Мануфактура займається професійно вирощуванням саджанців вузьколистої лаванди, купити корчі лаванди у нашому інтернет магазині.
          p Щоб кущики виросли пишними, їх потрібно садити рідко. Між саджанцями залишають 40 см, дистанція між рядками 1.40 см. Лаванда не любить кислі ґрунти.
          br
          img(src="img/landing-img-2.png" alt="")
    section.main-advantages.landing
      .box.flex-column
        h4.title.text-center  Важливо:
        .advantages-items.d-flex.ai-center.space-between
          .advantage-item.d-flex.flex-column.ai-center
            img(src="img/attention.png" alt="")
            span.advantage-item-text Не пересаджувати кущі, якщо температура повітря вище +25, краще дочекатися більш прохолодної погоди
          .advantage-item.d-flex.flex-column.ai-center
            img(src="img/attention.png" alt="")
            span.advantage-item-text Не можна пересаджувати кущі з бутонами або квітами, потрібно обрізати за кілька днів до пересадки;
              br
              | Кущі краще садити на постійне місце;
              br
              | Не варто купувати кущі доросліші трьох річного віку.  В ідеалі 1-2 річні
          .advantage-item.d-flex.flex-column.ai-center
            img(src="img/attention.png" alt="")
            span.advantage-item-text Не можна пересаджувати кущі з бутонами або квітами, потрібно обрізати за кілька днів до пересадки
          .advantage-item.d-flex.flex-column.ai-center
            img(src="img/attention.png" alt="")
            span.advantage-item-text Кущі краще садити на постійне місце; Не варто купувати кущі доросліші трьох річного віку.  В ідеалі 1-2 річні
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини