extends blocks/_layout-simple
append content
  main.main.bouquet-page
    .simple-page-banner.hydrolat
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Суцвіття лаванди
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Продукція з лаванди
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Олія лаванди
    section.text-section
      .box.flex-column
        .photosession-page-content
          img(src="img/oil-img-1.png" class="img-left")
          br
          br
          br
          h4 Ефірна олія лаванди (масло)
          br
          p Ця рослина – це не тільки чарівне видовище лаванда garden, неперевершений аромат та домінанта ландшафтного дизайну, а й 
            | сировина для отримання дорогоцінної ефірної олії з квітів. Лавандова Мануфактура використовує сучасне обладнання, яке шляхом дистиляції 
            | суцвіть з парою дає максимальний вихід продукту. Унікальні цілющі якості лавандової олії дозволяють застосовувати її у широкому спектрі 
            | областей, завдяки антисептичним, протигрибковим, заспокійливим, протизапальним та відновлювальним властивостям.
          br
          br
          br
          br
          img(src="img/oil-img-2.png", alt="" class="img-right")
          h4 Способи застосування
          br
          h5
            b Косметологія та парфумерія:
          br
          ul 
            li Компонент парфумерних композицій (мило та косметичні вироби для волос та шкіри), ароматизатор харчових продуктів та напоїв.
            li В ароматерапії – для розпилювання з аромаламп в повітрі, для масляних інгаляцій, у аромасвічках та засобах для ван і СПА.
            li Компонент регенеруючих кремів, лосьйонів, сироваток та масок для боротьби с сухою та жирною себореєю шкіри та випадінням 
              | волосся, для профілактики зморшок та старіння, акне, судинних сіточок тощо.
            li Захист від шкідливих комах: запах ефірної олії лаванди ефективний від багатьох них (комарі, сліпні, мошки, моль). Нанесення олії на 
              | відкриті ділянки шкіри запобігає укусам. Крім того, має протизапальну дію, що дозволяє зменшити роздратування і біль, пов'язані з укусами комах.
          br
          br
          img(src="img/oil-img-3.png" class="img-left")
          ul
            li Прискорення процесу загоєння ран, порізів, опіків, у т.ч. сонячних.
            li Лікування автоімунних та запальних захворювань шкіри: псоріаз, екзема, фурункули, язви.
            li Масаж – розслаблюючий та заспокійливий – лавандова олія має седативну і протибольову дію, розслаблює скелетні м'язи, знижає біль у 
              | суглобах при артритах, радикуліті, розтягненнях.
            li Седативне (заспокійливе) - лікування безсоння, головного болю, депресії, неврозів, нервового і фізичного напруження, емоційного стресу.
            li У складі імунопрофілактиці та комплексній симптоматичній терапії інфекційних респіраторних захворювань (бактеріальних та вірусних): 
              | застуди, нежиті, закладеність пазух носа, кашель, грип, ларингіт, тонзиліт, бронхіт, астма, коклюш. Пари ефірної олії при 
              | інгаляціях допомагають впоратися майже з усіма захворюваннями дихальних шляхів.
          br
          br
          ul 
            li Як компонент лікування артеріальної гіпертензії (підвищений тиск у сосудах), а також порушень травлення (коліки, метеоризм, блювання, пронос) 
              | завдяки спазмолітичній дії, покращенню перистальтики кишечнику і регулювання балансу шлункового соку і жовчі.
            li Отримання ліналоола та ліналілацетата для медичної промисловості.
              br
              | Корисні якості лавандової олії базуються на її унікальному біохімічному складі. Ці сполуки мають виражену 
              | заспокійливу дію на нервову та серцево-судинну системи, бактерицидні та противовірусні властивості, а освіжаючий аромат 
              | знімає нервове виснаження і занепокоєння, в той же час збільшуючи розумову активність. Купити лаванду в Україні в усіляких 
              | видах – від саджанців для висадки до чистої ефірної олії – можна у перевірених виробників, таких як Лавандова Мануфактура.
          .d-flex.ai-center.justify-center.flex-wrap
            h4 Процес виготовлення Лавандової олії та лавандового гідралату (тонік)
            img(src="img/oil-img-4.png", alt="")
          br
          br
          br
    section.products-box 
      .box.justify-center.ai-center.flex-wrap 
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/oil-1.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Олія Натуральна Лаванди (100мл)
            span.product-item-tag Олія
            span.product-item-price 900.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/oil-2.png", alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Олія Натуральна Лаванди (15мл)
            span.product-item-tag Олія
            span.product-item-price 150.00 грн
            a(href="/" class="lavender-btn") Подробнее
    section.main-contacts
      .box.flex-column
        h4.title Для співпраці, консультації та замовлення напишіть нам:
        form(action="" method="POST" class="contacts-form d-flex flex-wrap" id="contacts-form")
          input(type="text" name="name" placeholder="Ваше ім'я")
          input(type="text" name="email" placeholder="Ваш e-mail")
          input(type="text" name="phone" placeholder="Ваш телефон")
          textarea(name="message" placeholder="Текст")
          button(type="submit" class="lavender-btn m0-auto") Відправити
    section.main-production
      .box.flex-column
        .little-cards.d-flex.flex-wrap
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-1.png" alt="")
            span  Саджанці лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-2.png" alt="")
            span  Олія лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-3.png" alt="")
            span  Гідролат лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-4.png" alt="")
            span  Букети лаванди
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-5.png" alt="")
            span  Лавандовий мед
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-6.png" alt="")
            span  Лавандові наборы
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-7.png" alt="")
            span  Лавандове Саше
          a(href="/" class="little-card d-flex ai-center")
            img(src="img/product-8.png" alt="")
            span  Свічки з вощини