extends blocks/_layout-simple
append content
  main.main.photosession-page
    .simple-page-banner.search
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Фотосесії у лавандовому полі
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Фотосесії у лавандовому полі
    section.text-section
      .box.flex-column
        h3.text-section-title.text-center Лавандове Поле – Лавандовий Оазис
        .photosession-page-content
          img(src="img/photoses-1.png" class="img-left")
          p  Як писав французький письменник Жан Жионо, «лавандові поля – душа Провансу». І дійсно, дух захоплює, якщо дивитися
            | на їх неймовірну красу: куди сягає око - земля зливається з небом, і лілово-фіолетові хвилі плавно переходять в б
            | лакить неба, зливаючись у феєричну гармонію відтінків.
            | Але ж тепер довга подорож у Францію не потрібна, бо зробити незабутню фотосесію з лавандою, і просто милуватися красою і дихати
            | ароматами лавандових полів можна, не виїзжаючи з України.
          p
            b Чим цікаво?
            | «Лавандова Мануфактура» зробила величенний ландшафтний проект велике лавандове поле (його розміри 41 сотка), яке було засаджено у вигляді
            | великого сонця з променями з квітучої лаванди. Особливу декоративність і чарівну живописну гру переливів відтінків -
            | від димчасто-рожевих до насичених бузково-фіолетових кольорів – забезпечує п’ять рясно квітучих сортів, а всього було висаджено
            | більше 9 тисяч саджанців лаванди.
          p
            b Де знаходиться?
            | Лавандове поле розташовано на схилах природного пологого пагорбу, поблизу розкинулося мальовниче озеро. Знаходиться це
            | райське містечко в 13 км від Полтави, в Полтавській області с. Глухово, у напрямку с. Гожули. Офіційне відкриття поля
            | планується у 2022 році, але ж подивитися, як народжується і розквітає диво поля з лаванди можна за попередньою домовленістю.
          br
          br
          br
          img(src="img/photoses-2.png" class="img-right")
          br
          br
          h5 Як незабутньо провести час?
          br
          p Релакс і антістрес. У сучасному світі люди дуже часто нервують, поспішають і перебувають у хронічній напрузі та стресі.
            | Тому важливо дати собі спокій, зупинитися для відпочинку від міської суєти. А ніщо не заспокоює краще, ніж повільна прогулянка
            | серед квітучого поля лаванди, для чого тепер не треба їхати закордон у французький Прованс. На прекрасне і заспокійливо цілюще
            | лавандове поле запрошує «Лавандова Мануфактура».
          p Фотосесія з лавандою у стилі «Прованс» – весільна, на день народження, або просто на гарну згадку. Проведення виїзних
            | фотосесій з лавандою та церемоній для молодят серед прекрасних як мрія квітучих лавандових полів може стати доброю запорукою
            | гармонійного сімейного життя. Ця рослина здавна має славу символу спокою та гармонії. Замовити фотосесію можна через контакти на сайті.
          p Придбати екологічно чисту продукцію з лаванди: ароматичну мішечки і саше, сухі букети, лавандовий мед, ефірну олію, гідролати,
            | крафтове мило та іншу продукцію для здоров’я і краси.
          p Почаювати корисним лавандовий фіто-чаєм, що має унікальні тонізуючи і заспокійливі властивості.
          br
          br
          p М’який клімат сприяє вирощуванню, лавандові поля вже існують в Україні, у Київській області це Лавандовий Гай, працюючий в режимі ландшафтного
            | парку, Добро Парк (с. Мотижин), Ферма Olawander (с. Димер). В Закарпатській області гостей приймає Лавандова гора, м. Перечин. Незабаром
            | лавандові поля зацвітуть на Львівщині, Рівненщині та ще в багатьох місцях України. І тепер, лавандове поле є біля Полтави. «Лавандова
            | Мануфактура» не тільки пропонує зручну систему оренду і бронювання часу та локацій, замовлення фотосесій на лавандовому полі за
            | попереднім записом по телефонам на сайті, але ж і сприяє поширенню вишуканої рослини, наприклад, поставляє саджанці лаванди в
            | Добро Парк, розповсюджує посадковий матеріал через продаж на інших платформах через дропшипінг.

    section.main-contacts
      .box.flex-column
        h4.title Для замовлення фотосесії напишіть нам:
        form(action="" method="POST" class="contacts-form d-flex flex-wrap" id="contacts-form")
          input(type="text" name="name" placeholder="Ваше ім'я")
          input(type="text" name="email" placeholder="Ваш e-mail")
          input(type="text" name="phone" placeholder="Ваш телефон")
          textarea(name="message" placeholder="Текст")
          button(type="submit" class="lavender-btn m0-auto") Відправити