extends blocks/_layout
append content
  main.main.shop-page
    .simple-page-banner.shop
      .box.d-flex.ai-center.justify-center
        h1.simple-page-banner-title.ml-auto магазин
        a(href="/" class="cart-banner-info ml-auto d-flex ai-center justify-center")
          img(src="img/cart-icon.png" alt="" class="cart-ico")
          p
            span.cart-banner-info-summ 150.00 грн
            | /
            span.cart-banner-info-count 2 тов
          img(src="img/cart-right.png" alt="" class="cart-right")
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center.flex-wrap
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Усі товари
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Букети
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Букет сухоцвіту лаванди (100 гілочок)
    section.product-page
      .box
        span.product-page-name-mobile Букет сухоцвіту лаванди (100 гілочок)
        .product-page-carousel
          .product-carousel-for
            img(src="img/prod-slide-1.png", alt="")
            img(src="img/prod-slide-2.png", alt="")
          .product-carousel-nav
            img(src="img/prod-slide-1.png", alt="")
            img(src="img/prod-slide-2.png", alt="")
        .product-page-info
          span.product-page-name Букет сухоцвіту лаванди (100 гілочок)
          p.product-page-descr Ароматний букет сухоцвіту лаванди однозначно для натхнення, втілення творчих задумів та 
            | звичайно для задоволення естетичних потреб. Цей букет стане у пригоді флористу, кулінару, митцю, декоратору, 
            | миловару та багатьом іншим. Ми бережно пакуємо його у спеціальну упаковку, додатково огортаємо у крафтовий 
            | папір і фіксуємо картонною коробкою, щоб букет приїхав до Вас у цілісності та чудовому вигляді. 
            | Подаруй собі або близькій людині шматочок натхнення!
          span.product-page-price 150.00 грн
          form(class="d-flex ai-center product-form")
            input(type="number" value="1" id="product-form-counter")
            button(type="submit" class="lavender-btn ai-center justify-center") Додати у кошик

    section.products-box.familiar-products
      .box.justify-center.ai-center.flex-wrap
        h3.title.text-center.w-100 Схожі товари
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/prod-1.png" alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Олія Натуральна Лаванди (100мл)
            span.product-item-tag Олія
            span.product-item-price 900.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/prod-2.png" alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Олія Натуральна Лаванди (15мл)
            span.product-item-tag Олія
            span.product-item-price 150.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/prod-3.png" alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Свічки ручної роботи з вощини
            span.product-item-tag Олія
            span.product-item-price 40.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/prod-1.png" alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Олія Натуральна Лаванди (100мл)
            span.product-item-tag Олія
            span.product-item-price 900.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/prod-2.png" alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Олія Натуральна Лаванди (15мл)
            span.product-item-tag Олія
            span.product-item-price 150.00 грн
            a(href="/" class="lavender-btn") Подробнее
        .product-item.d-flex.flex-column
          .product-item-img.d-flex.justify-center.ai-center
            img(src="img/prod-3.png" alt="")
          .product-item-info.d-flex.flex-column
            span.product-item-name Свічки ручної роботи з вощини
            span.product-item-tag Олія
            span.product-item-price 40.00 грн
            a(href="/" class="lavender-btn") Подробнее