extends blocks/_layout-simple
append content
  main.main
    .simple-page-banner.search
      .box.d-flex.flex-column.ai-center.justify-center
        h1.simple-page-banner-title Поиск
    .box.d-flex.flex-column
      ul.breadcrumbs.d-flex.ai-center
        li.breadcrumbs-item
          a(href="/") Головна
        li.breadcrumbs-item.separator /
        li.breadcrumbs-item.current Поиск
    section.search-page
      .box.flex-column
        .search-page-head.d-flex.ai-center
          span.search-head-title Пошук:
          form.search-head-form
            input(type="text" class="search-input" value="То что я написал в поиске")
        .search-page-body.d-flex.flex-column 
          a(href="/" class="search-page-item") Весняний етап розпочинається під кінець березня, коли зимові морози вже покинули нашу місцевість 
            | і температура повітря стабільно тримається на позначці 10С вище нуля, продовжується етап відправлень до кінця квітня. Для того щоб 
            | забежпечити людей якісним посадковим матеріалом лаванди, ми на власному досвіді практикували свої навички
          a(href="/" class="search-page-item") Весняний етап розпочинається під кінець березня, коли зимові морози вже покинули нашу місцевість 
            | і температура повітря стабільно тримається на позначці 10С вище нуля, продовжується етап відправлень до кінця квітня. Для того щоб 
            | забежпечити людей якісним посадковим матеріалом лаванди, ми на власному досвіді практикували свої навички
          a(href="/" class="search-page-item") Весняний етап розпочинається під кінець березня, коли зимові морози вже покинули нашу місцевість 
            | і температура повітря стабільно тримається на позначці 10С вище нуля, продовжується етап відправлень до кінця квітня. Для того щоб 
            | забежпечити людей якісним посадковим матеріалом лаванди, ми на власному досвіді практикували свої навички
          a(href="/" class="search-page-item") Весняний етап розпочинається під кінець березня, коли зимові морози вже покинули нашу місцевість 
            | і температура повітря стабільно тримається на позначці 10С вище нуля, продовжується етап відправлень до кінця квітня. Для того щоб 
            | забежпечити людей якісним посадковим матеріалом лаванди, ми на власному досвіді практикували свої навички