.double-lavender
  & img
    max-width: 540px
    width: 100%
  &-left
    padding-right: 20px
    max-width: 50%
  &-right
    padding-left: 20px
    max-width: 50%

@media(max-width: 660px)
  .double-lavender
    flex-direction: column
    & img
      width: 100%
    &-right,
    &-left
      padding: 0px
      max-width: initial